{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <!-- Post Content -->
    {% set final_price = namespace(value=0) %}
    <div class="container show-cart-page">
        {% if not items: %}
            <div class="empty-cart-page">
                <h1 class="empty-cart">Your Cart is Empty</h1>
            </div>
        {% else: %}
            {% for item in items %}
            <div class="cart-page-item">
                <img class="cart-img" src={{item.cart_item.img_url}} width="125" height="125">
                <div class="cart-details">
                    <h5>{{ item.cart_item.name }}</h5>
                    <h6>Unit Price: ₦{{ "%0.2f" | format(item.cart_item.price | float) }}</h6>
                    <br>

                    <form action="{{ url_for('edit_cart', item_id=item.id)}}" method="post">
                    <h6>X <input class="form-group input-small" type="number" min="1" max="{{ item.cart_item.quantity }}" name="quantity" size="10" value="{{item.quantity}}" style="padding-bottom: 0px;"></h6>
                    <button type="submit" class="btn btn-dark">Edit Quantity</button>
                    </form>

                    <br>
                    {% set unit_price = item.cart_item.price %}
                    {% set quantity = item.quantity %}
                    {% set sub_total = unit_price * quantity %}
                    <h6>Total = ₦{{ "%0.2f" | format(unit_price * quantity | float) }}</h6>
<!--                    <h6>Total = ₦{{ unit_price * quantity }}</h6>-->
                    {% set final_price.value = final_price.value + sub_total %}
                    <h6><a class="remove-item" href="{{url_for('remove_item', item_id=item.id) }}">Remove Item</a></h6>
                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="text-right">
                <h4>Total: ₦{{ "%0.2f" | format(final_price.value | float) }}</h4>
                <br>
                <a href="{{ url_for('payment_options') }}"><button type="button" class="btn btn-dark btn-lg">Proceed to Checkout</button></a>

<!--                <a href="{{ url_for('payment_options', user_id=current_user.id, total_cost=final_price.value, cart_items=items) }}"><button type="button" class="btn btn-dark btn-lg">Proceed to Checkout</button></a>-->

                <br>
            </div>
        {% endif %}
    </div>


{% include "footer.html" %}
{% endblock %}